.card {
    display: grid;
    box-shadow: 0 2px 4px 0 #0033, 0 5px 15px 0 #0030;
    width: 250px;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}
.item {
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.card__name {
    height: 80px;
    text-align: center;
}
 .card__image {
     width: 80%;
     background-color: #ccc;
     padding: 1rem;
     margin: auto;
 }

.card__image-rotated {
    width: 80%;
    background-color: #ccc;
    padding: 1rem;
    rotate: 180deg;
    margin: auto;
}

